@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Hogeschool Rotterdam<br />
    Rotterdam, Wijnhaven 107, 3011 WN Rotterdam<br />
    <abbr title="Telefoon Nummer">P:</abbr>
    0612345678
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Ticketshop@hotmail.com">Ticketshop@hotmail.com</a><br />

</address> 