#body{
    background-color: black;
}
#container{
    background-color: #333;
    margin-left: 20%;
    margin-right: 20%;
}
#header{
    height: 6rem;
    margin-left: 10%;
    margin-right: 10%;
}
#icon:visited, icon:link{
    color: #ffc119;
}
#icon:hover{
    color: #F1E5C4;    
}
#icon{
    text-decoration: none;
}
#title{
    font-size: 1rem;
    float: left;
    background-color: #333;
    font-family: "Papyrus";
}
#authenticator{
    padding-bottom: 2rem;
}
.authenticatorli{
    padding-left: 1rem;
    float: left;
    list-style-type: none;
    color: #94a194;
    font-family: "Gabriola";    
    font-size: 1rem;
}
.navbarli{
    padding-left: 1rem;
    float: left;
    list-style-type: none;
    color: #ffc119;
    font-size: 1rem;
    font-family: "Gabriola";
}
.navbarelements:visited, navbarelements:link{
    color: #ffc119;    
}
.navbarelements:hover{
    color: #F1E5C4;        
}
.navbarelements{
    text-decoration: none;
}
#searchbar{
    float: left;
    margin-left: 3rem;
}
#searchbar input{
    height: 1rem;
}
#content{
    float: left;
}
#main{
    margin-left: 5rem;
    color: #fff;
}
#footer{
    padding-top: 3rem;
    height: 3rem;
    text-align: center;
    clear: both;
    color: #fff
}