#body{
    background-color: black;
}
#container{
    background-color: #333;
    margin-left: 20%;
    margin-right: 20%;
}
#icon:visited, icon:link{
    color: #ffc119;
}
#icon:hover{
    color: #F1E5C4;    
}
#icon{
    text-decoration: none;
}
#header{
    float: top;
    margin-left: 10%;
    margin-right: 10%;
}
#title{
    font-size: 20px;
    float: left;
    background-color: #333;
    font-family: "Papyrus";
}
#authenticator{
    padding-bottom: 25px;
}
.authenticatorli{
    padding-left: 20px;
    float: left;
    list-style-type: none;
    color: #94a194;
    font-family: "Gabriola";    
    font-size: 18px;
}
.navbarli{
    padding-left: 20px;
    float: left;
    list-style-type: none;
    color: #ffc119;
    font-size: 20px;
    font-family: "Gabriola";
}
.navbarelements:visited, navbarelements:link{
    color: #ffc119;    
}
.navbarelements:hover{
    color: #F1E5C4;        
}
.navbarelements{
    text-decoration: none;
}
#searchbar{
    float: left;
    margin-left: 50px;
}
#searchbar input{
    height: 20px;
}
#content{
    float: left;
}
#main{
    margin-top: 200px;
    margin-right: 20px;
    color: red;
}
#footer{
    text-align: center;    
    clear: both;
    color: #fff
}
#filterbody{
    float: left;
}

#filter{
    margin-top: 200px;
    margin-left: 20px;
    color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 11px;
  }
  
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 9px;
    left: 1.5px;
    bottom: 1.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(9px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.label {
    color: #ffc119;
    padding: 8px;
    font-family: "Gabriola";
}
.success {background-color: #333;}
.info {background-color: #333;} 
.warning {background-color: #333;}
.danger {background-color: #333;}  
.other {background-color: #333; color: black;}  