<script>
        var PieChartWebshop =
            {
                labels: ["Aantal producten in webshop", "Aantal orders"],
                datasets: [{
                    label: 'Statistieken',
                    backgroundColor: [
                        "#99e5e5",
                        "#f7bd83"
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.Amount_Events ,   @ViewBag.Amount_Users]
                }]
            };

            window.onload = function () {
                var ctx2 = document.getElementById("PiecanvasWebshop").getContext("2d");

                window.myBar = new Chart(ctx2,
                    {
                        type: 'pie',
                        data: PieChartWebshop,
                        options:
                        {
                            title:
                            {
                                display: true,
                                text: "Statistieken"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                    });
            }
</script>
<div class="row" style="overflow:hidden;">
    </div>
    <div class="col-md-6 col-xs-12">
        <canvas height='200' id="PiecanvasWebshop"></canvas>
    </div>

