@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Hello, we are Black & Yellow. We are a new programming team and aspire to be the best progamming team out there.
    <br />
    Our team consists of 5 students who are students at the Hogeschool Rotterdam.
    <br />
    This is our website "Ticketshop". We sell tickets for events like movies but also your own events.
    <br />
    Ticketshop has been made in 2017 for a project given to us by our school and CGI.
    <br />
    We aim to make it easier and simpler for everyone to buy tickets and host events.
    <br />
    <br />
    We hope all of you will enjoy Ticketshop and our future projects. :D

    <br />
    <br />
    You can also find us on LinkedIn:
    <br />
    <a href="https://www.linkedin.com/in/li-wei-yeh/">Li-Wei Yeh</a>
    <br />
    <a href="https://www.linkedin.com/in/Jason-Tjauw/">Jason Tjauw</a>
    <br />
    <a href="https://www.linkedin.com/in/thanhbinhannguyen/">Binh-An Nguyen</a>
    <br />
    <a href="https://www.linkedin.com/in/maher-mussa/">Maher Mussa</a>
    <br />
    <a href="https://www.linkedin.com/in/ricky-baidjnath-misier-ab96a151/">Ricky Baidjnath Misier</a>
    <br />
</p>
