@{
    ViewData["Title"] = "Home Page";
}
<!-- Main body -->
<div id="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-height: 300px; position:relative;z-index:1;">
        <!-- Indicators -->
        <ol class="carousel-indicators" style="z-index:1 !important">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="max-height: 300px;">
                <a href="/Events/Details/1">
                    <img src="~/images/Kimi no na wa.jpg" alt="Kimi no na wa" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Kimi no na Wa</h3>
                        <p>
                            One day, Mitsuha awakens in a room that is not her own and suddenly finds herself living the dream life in Tokyo—but in Taki's body! Elsewhere, Taki finds himself living Mitsuha's life in the humble countryside. In pursuit of an answer to this strange phenomenon, they begin to search for one another.
                        </p>
                    </div>
                </a>
            </div>

            <div class="item" style="max-height: 300px;">
                <a href="/Events/Details/3">
                    <img src="~/images/Jigsaw.jpg" alt="Jigsaw" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Jigsaw</h3>
                        <p>Bodies are turning up around the city, each having met a uniquely gruesome demise. As the investigation proceeds, evidence points to one suspect: John Kramer, the man known as Jigsaw, who has been dead for ten years.</p>
                    </div>
                </a>
            </div>

            <div class="item" style="max-height: 300px;">
                <a href="/Events/Details/2">
                    <img src="~/images/Justice League.jpg" alt="Justice League" style="width:100%;">
                    <div class="carousel-caption">
                        <h3>Justice League</h3>
                        <p>Fueled by his restored faith in humanity and inspired by Superman's selfless act, Bruce Wayne enlists the help of his newfound ally, Diana Prince, to face an even greater enemy.</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <br>
    <br>

    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="shopping-grid">
                        <!-- Image -->
                        <a href="/Events/Details/4">
                            <img class="img-responsive img-thumbnail" src="~/images/Professor Marston and the Wonder Women.jpg">
                        </a><!-- /.img -->
                        <!-- Caption content -->
                        <div class="caption text-center">
                            <!-- Content Header -->
                            <h3>Professor Marston and the <br />Wonder Women</h3>
                            <!-- Content paragraph -->
                            <p>
                                The story of psychologist William Moulton Marston, and his polyamorous relationship with his wife and his mistress who would inspire his creation of the superheroine, Wonder Woman.
                            </p>
                        </div><!-- /.caption -->
                    </div><!-- /.shopping-grid -->
                </div><!-- /.col -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="shopping-grid">
                    <!-- Image -->
                    <a href="/Events/Details/5">
                        <img class="img-responsive img-thumbnail" src="~/images/Sinterklaas en het gouden hoefijzer.jpg">
                    </a><!-- /.img -->
                    <!-- Caption content -->
                    <div class="caption text-center">
                        <!-- Content Header -->
                        <h3>Sinterklaas & het <br />Gouder Hoefijzer</h3>
                        <!-- Content paragraph -->
                        <p>
                            De tienjarige Bloem is helemaal gek op het paard van Sinterklaas. 
                            Wanneer ze na verschillende pogingen Sinterklaas zo ver krijgt dat ze op 
                            zijn paard mag rijden gebeurt er iets verschrikkelijks.
                        </p>
                    </div><!-- /.caption -->
                </div><!-- /.shopping-grid -->
            </div><!-- /.col -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="shopping-grid">
                    <!-- Image -->
                    <a href="/Events/Details/6">
                        <img class="img-responsive img-thumbnail" src="~/images/Outlander.jpg">
                    </a><!-- /.img -->
                    <!-- Caption content -->
                    <div class="caption text-center">
                        <!-- Content Header -->
                        <h3>Outlander <br />  <br /></h3>
                        <!-- Content paragraph -->
                        <p>
                            The year is 1945. Claire Randall, a former combat nurse, is just back from the 
                            war and reunited with her husband on a second honeymoon when she walks through 
                            a standing stone in one of the ancient circles that dot the British Isles. Suddenly 
                            she is a Sassenach—an “outlander”—in a Scotland torn by war and raiding border clans 
                            in the year of Our Lord...1743.
                        </p>
                    </div><!-- /.caption -->
                </div><!-- /.shopping-grid -->
            </div><!-- /.col -->
            <!-- Column -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- /#main -->
