
@{
    ViewData["Title"] = "BusinessEvents";
}

<h2>Business Events</h2>

<div class="Description">
    <hr />
    <p>
        <b>Business</b>
        <br />
        Hi there,
        <br />
        We're Black and Yellow, the owners of Ticketshop. We present the opportunity for you to host events for your business branch.
        <br />
        Is there a lecture, conference or anything else you want to show to your entire office?
        <br />
        We from Black & Yellow give you that possibility in one of our 5 locations with a wide variety halls to choose from.
        <br />
        If you are interested please contact us via our email Ticketshop@hotmail.com or our cellphone number (31+) 6 12345678.
    </p>
    <img src="~/images/Buisiness_Event1.png" style="width:40%" /><img src="~/images/Buisiness_Event2.png" style="width:40%" />
</div>