@model Ticketshop.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Eventname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Eventname" class="form-control" />
                <span asp-validation-for="Eventname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Genre" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateAndTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateAndTime" class="form-control" />
                <span asp-validation-for="DateAndTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AvailableTickets" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AvailableTickets" class="form-control" />
                <span asp-validation-for="AvailableTickets" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Theatername" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Theatername" class="form-control" />
                <span asp-validation-for="Theatername" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Theateradress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Theateradress" class="form-control" />
                <span asp-validation-for="Theateradress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
