
@{
    ViewData["Title"] = "PersonalEvents";
}

<h2>Personal Events</h2>

<div class="Description">
    <hr />
    <p>
        <b>Personal</b>
        <br />
        Hi there,
        <br />
        We're Black and Yellow, the owners of Ticketshop. We present the opportunity for you to host events for your business branch.
        <br />
        We present the opportunity for you to host events for that special someone or just your family. 
        <br />
        Is there a birthday, anniversary or anything else you want to celebrate with your friends, family or co-workers? 
        <br />
        We from Black & Yellow give you that possibility in one of our 5 locations with a wide variety of halls to choose from.
        <br />
        If you are interested please contact us via our email Ticketshop@hotmail.com or our cellphone number (31+) 6 12345678.
    </p>
    <img src="~/images/Personal_Event1.png" width="40%"/><img src="~/images/Personal_Event2.png" width="41%"/>
</div>