@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Hogeschool rotterdam<br />
    rotterdam, Wijnhaven 107, 3011 WN Rotterdam<br />
    <abbr title="telefoon nummer">P:</abbr>
    0612345678
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Ticketshop@hotmail.com">Ticketshop@hotmail.com</a><br />

</address> 