<script>
        var PieChartWebshop =
            {
                labels: ["Aantal movies", "Aantal theatershows","Aantal sportevents"],
                datasets: [{
                    label: 'Statistieken',
                    backgroundColor: [
                        "#99e5e5",
                        "#f7bd83"
                    ],
                    borderWidth: 2,
                    data: [@ViewBag.Amount_Events_movies ,   @ViewBag.Amount_Events_theaters, @ViewBag.Amount_Events_sport]
                }]
        };


            @*var PieChartMoney =
                {
                    labels: ["Totale omzet inclusief BTW", "Totale omzet exclusief BTW"],
                    datasets: [{
                        label: 'Omzet',
                        backgroundColor: [
                            "#f990a7",
                            "#aad2ed"
                        ],
                        borderWidth: 2,
                        data: [@ViewBag.total_money_inclusive , @ViewBag.total_money_exclusive]

                        }]
                    };*@

            window.onload = function () {
                var ctx2 = document.getElementById("PiecanvasWebshop").getContext("2d");

                window.myBar = new Chart(ctx2,
                    {
                        type: 'pie',
                        data: PieChartWebshop,
                        options:
                        {
                            title:
                            {
                                display: true,
                                text: "Statistieken"
                            },
                            responsive: true,
                            maintainAspectRatio: true
                        }
                    });
            }
</script>
<div class="row" style="overflow:hidden;">
</div>
<div class="col-md-6 col-xs-12">
    <canvas height='200' id="PiecanvasWebshop"></canvas>
</div>
@*<div class="row" style="overflow:hidden;">
    <div class="col-md-6 col-xs-12">
        <canvas height='200' id="PiecanvasMoney"></canvas>
    </div>
</div>*@