@model Ticketshop.Models.Ticket
@{
    ViewData["Title"] = "Events";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<body>
    <h2>Hello world1test</h2>
    <h2>@Model.Eventname</h2>
    <h1>Events</h1>
    <div id="filtermenu">

    </div>
    <div id="eventtickets">
        
    </div>
    <table style="width:20%">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th> 
            <th>Age</th>
        </tr>    
        <tr>
            <td>Jill</td>
            <td>Smith</td> 
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td> 
            <td>94</td>
        </tr>
    </table>


</body>