@{
    ViewData["Title"] = "Register";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div id="logincontainer">
    <form>
        <div class="form-input">
            <input type="text" name="Email_adress" placeholder="Email">
        </div>
        <div class="form-input">
            <input type="password" name="Password" placeholder="Password">
        </div>
        <div class="form-input">
            <input type="submit" name="" value="Sign in">
        </div>
    </form>
</div>