@{
    ViewData["Title"] = "Register";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div id="registercontainer">
    <form>
        <div class="form-input">
            <input type="email" name="Email" placeholder="Email">
        </div>
        <div class="form-input">
            <input type="text" name="Name" placeholder="Name">
        </div>
        <div class="form-input">
            <input type="text" name="Password" placeholder="Password">
        </div>
        <div class="form-input">
            <input type="number" name="Age" placeholder="Age">
        </div>
            <div class="form-input">
            <input type="text" name="Street" placeholder="Street">
        </div>
        <div class="form-input">
            <input type="text" name="Location" placeholder="Location">
        </div>
        <div class="form-input">
            <input type="submit" name="" value="Sign in">
        </div>
    </form>
</div>